# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]nderstandings/
[Uu]ser[Ss]ettings/

# IDE / Visual Studio
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.idb
*.cache
*.bak

# OS
.DS_Store
Thumbs.db
desktop.ini
.BIN/

# Python
__pycache__/
*.pyc

# Docker
docker-test/
